.middle{
	display: flex;
	flex-direction: column;
}.dashboard_path{
	margin-top: 20px;
	width: 100%;
	font-size: 130%;
}

.path{
	width: 100%;
	padding-left: 30px ;
	float: left;
	display: inline-table;
	border: 1px solid none;
	font-size: 15px;
	width: 80%;	
	color: black;
}
.path a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.path a:hover{
	opacity: 0.7;
}
.path i{
	cursor: text;
	padding: 0px 10px 0 10px;
}
hr{
	margin: 1% 0 2% 2%;
	width: 90%;
}
a{
	text-decoration: none;
}
.main_Container{
	margin-top: 2%;
	font-size: 120%;
}
.main_Container h3{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 15px;
	font-size: 150%;
	color: #009999;
}
.add_form{
	border: 1px groove #D9D8D8;
	width: 50%;
	margin-left: 25%;
}
.main_Container label{
	width: 50%;
	margin-left: 5%;
}
.main_Container input{
	width: 40%;
	margin: 0% 0% 2% 5%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid;
	padding-left: 1%;
}
.lbCourceName{
	margin-right: 40px;
}
.lbClassName{
	margin-right: 55px;
}
.lbNoOfStu{
	margin-right: -8px;
}
.lbDate{
	margin-right: 35px;
}
.submit{
	margin-bottom: 3%;
	padding: 1% 1% 1% 1%;
	margin-left: 45%;
	width: 15%;
	font-size: 80%;
	border-radius: 5px	;
	border: 1px groove #D9D8D8;
	background-color: #009999;
	color: white;
	cursor: pointer;
}
button:hover{
	opacity: 0.7;
}