body{
	max-width: 1500px;
}
.btnShowHide{
	font-weight: bold;
  	padding: 16px;
  	font-size: 16px;
  	border: none;
  	cursor: pointer;
  	background-color: #D5DDDD; 	
  	padding: 10px 10px 10px 20px;
  	margin: 10px 0px 10px 10px;
  	min-width: 200px; 
  	border-radius: 3px;	
}
.showHide{	
	padding-right: 20px;
	margin: 50px 0px 50px 50px;
	max-width: 250px;
	border: 1px solid #d4d4d4;
	display: block;
	line-height: 1.8;
}
button:hover{
	opacity: 0.7;
}
#video_ShowHide{
	margin-left: 20px;	
}
#document_Show_Hide{
	margin-left: 20px;	
}
.Left__Site{
	max-width: 1500px;
	margin-top: 30px;
	display: flex;
}
.showDocument{
	margin: 10px 30px 0px 30px;
	min-width: 785px;
}
.to__do{
	margin: 20px 20px 0px -30px;
	padding: 20px 20px 20px 20px;
	border: 1px solid #d4d4d4;
}

.dashboard_path{
	margin-top: 20px;
	max-width: 1500px;
}

.path{
	max-width: 1200px;
	padding-left: 50px ;
	float: left;
	display: inline-table;
	border: 1px solid none;
	font-size: 15px;
	width: 80%;	
	color: black;
}
.path a{
	color: black;
	cursor: pointer;
}
.path a:hover{
	opacity: 0.7;
}
.path i{
	cursor: text;
	padding: 0px 10px 0 10px;
}

.search-box input{	
	border: none;
	height: 30px;
	width: 80%;
	float: left;
	padding: 3px 50px 3px 3px;
}
.search-box{
	margin-top: -5px;
	text-align: right;
	padding-left: 50px;
	max-width: 300px;
	float: left;
	width: 20%;
	height: 30px;
	cursor: pointer;
}
.btn-search{
	margin-top: 2px;
	background-color: white;
	margin-left: -50px;
	border: none;
	width: 20%;
	height: 25px;
	float: left;
	border-radius: 10px;
}