* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #444444;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

.home__content {
  display: flex;
  width: 100%;
}

.home__left {
  width: 80px;  
  padding-bottom: 11.4%;
  background-color: #2d3b47;
  color: white;
  z-index: 31;
  text-align: center;
}

.home__left img {
  width: 100%;
  height: 100px;
}

.fa-user-circle,
.fa-tachometer-alt,
.fa-book,
.fa-calendar-alt,
.fa-envelope-open-text,
.fa-clock,
.fa-info-circle {
  color: white;
}

.home__left .fa-user-circle {
  font-size: 50px;
  margin-top: 10px;
}

.select__Info .select__link {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1;
}

.home__left p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1;
}

.home__left .fa-tachometer-alt {
  font-size: 45px;
  margin-top: 10px;
}

.home__left .fa-book {
  font-size: 45px;
  margin-top: 10px;
}

.home__left .fa-calendar-alt {
  font-size: 45px;
  margin-top: 10px;
}

.home__left .fa-envelope-open-text,
.fa-clock,
.fa-info-circle {
  font-size: 45px;
  margin-top: 10px;
}

.home__middle {
  width: 80%;
  height:70%;
}

.home__middle h2 {
  padding-bottom: 10px;
  margin-top: 20px;
}

.home__middle__listProduct {
  width: 90%;
  z-index: 10;
}

.btn__link{
  text-decoration: none;
}

.middle__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin-left: 50px;
  margin-top: 20px;
}

.home__middle h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin-top: 30px;
}

.middle__detail {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: left;
  flex-wrap: wrap;
}

.middle__courses {
  display: flex;
  justify-content: center;
}

.card__course {
  position: relative;
}

.button__Oncourse {
  position: absolute;
  margin: 10px 0 0 10px;
}

.card {
  margin-right: 15px;
  margin-bottom: 15px;
}

.card-img-top {
  background-color: blueviolet;
  height: 150px;
}

.home__right {
  display: block;
  width: 15%;
}

.home__right .btn1 {
  margin-top: 30px;
  margin-left: 50px;
}

.home__right .btn2 {
  margin-top: 5px;
  margin-left: 50px;
  padding-right: 60px;
}

.select__Info {
  transition: all 0.8s;
  opacity: 0.7;
}

.select__Info a {
  color: white;
}

.select__Info:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 1;
}

body {
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
  /* z-index: -20; */
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}

body {
  background: #f7f7ff;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.offcanvas-start {
  margin-left: 95px;
  z-index: 20;
}

.offcanvas-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 92%;
  margin: 0 auto;
}

.course__title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
}
.list_item {
  list-style: none;
}

.list_item li {
  margin: 20px 0;
}

.list_item {
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 70px;
}

.middle__create__course {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.middle__detail__listProduct {
  width: 95%;
  margin: 0 auto;
}

.middle__detail__home {
  border-left: 4px solid #2d3b47;
}

h6.mb-0 {
  margin-top: 10px;
}

h6 {
  margin-top: 10px;
}

a.btn.btn-info {
  background-color: #0d6efd;
  color: #ffffff;
}

.middle__header {
  display: flex;
  justify-content: space-between;
}

.middle__title i {
  margin-right: 20px;
  color: black;
}

.course__middle {
  width: 95%;
}

.middle__title{
  display: flex;
  justify-content: space-between;
}

.middle__title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin: 20px 50px 40px 50px;
}

.course__middle__left {
  width: 15%;
  text-align: left;
  margin-left: 15px;
  font-size: 20px;
  text-decoration: none;
}

.course__select {
  list-style: none;
}

.course__select__action {
  border-left: 2px solid rgba(0, 0, 0, 1);
  padding-left: 3px;
}

.course__middle__center {
  width: 65%;
  margin-bottom: 30px;  
}

.course__middle__right {
  width: 14%;
  margin-left: 40px;
  text-align: left;
}

.course__button__view{
  margin-bottom: 8px;
}

.course__center__title__1{
  margin-left: 88%;
  margin-bottom: 40px;
}

.course__center__title {
  margin-left: 69%;
  margin-bottom: 40px;
}

.course__center__title {
  display: flex;
}

.middle__content__course {
  display: flex;
}

.course__right__button i{
  margin-right: 10px;
}

.course__view__details{
  margin-top: 80px;
}

.table__view__student{
  border: 1px solid rgba(0, 0, 0, 0.2)!important;
}

.tbl__edit{
  padding: 35px 50px!important;
  font-size: 20px;
}

.tbl__edit__item__1{
  padding: 30px 0 30px 90px!important;
  font-size: 20px;
  border-left: 3px solid green;
}

.tbl__edit__item__1 i{
  margin-right: 20px;
  color: green;
}

.tbl__edit__header{
  display: flex;
  justify-content: space-between;
}

.tbl__header__icon .fa-ban{
  color: red;
}

.tbl__header__icon__1 .fa-check-circle{
  color: green;
  
}

.tbl__header__icon__1 i{
  margin-right: 15px;
}

.tbl__edit__top{
  display: flex; 
  justify-content: space-between; 
}

.tbl__edit__item{
  padding: 30px 0 30px 90px!important;
  font-size: 20px;
}

.tbl__edit__item i{
  margin-right: 20px;
}

.course__right__button .btn__edit__1{
  padding: 0 30px!important;
}

.table__all__select{
  background-color: rgba(0, 0, 0, 0.2);
}

.course__title__todo{
  margin-top: 15px;
}

.middle__title .fa-chevron-right{
  margin-left: 25px;
}

.btn__course__center{
  margin-right: 5px;
}

.add-btn {
  padding: 2px 5px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #2c2c2c;
}
body a {
  color: inherit;
  text-decoration: none;
}

.header__btn {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.header__btn:last-child {
  margin-right: 0;
}
.header__btn:hover, .header__btn.js-active {
  color: #fff;
  background-color: #2c2c2c;
}

.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content {
  width: 95%;
  margin: 0 auto 50px;
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.new-certification {
  background: rgba(0, 0, 0, 0.03);
  padding: 30px 0 40px 0;
}

.new-certification .card-header {
  background: none;
  border: 0;
  text-align: center;
}

.add-module {
  color: #007bff;
}

.plus-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  background: #ddd;
  color: #fff;
  font-size: 3em;
  margin: auto;
}

.multisteps-form__progress {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: "";
  transform: translateX(-50%);
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #007bff;
}
.multisteps-form__progress-btn.js-active:before {
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation=scaleOut] {
  transform: scale(1.1);
}
.multisteps-form__panel[data-animation=scaleOut].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
}
.multisteps-form__panel[data-animation=slideHorz] {
  left: 50px;
}
.multisteps-form__panel[data-animation=slideHorz].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation=slideVert] {
  top: 30px;
}
.multisteps-form__panel[data-animation=slideVert].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation=fadeIn].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation=scaleIn] {
  transform: scale(0.9);
}
.multisteps-form__panel[data-animation=scaleIn].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
}
.btn-left{
}

.btn-right{
  margin-left: 880px ;
}

.fill{
  color: var(--color);
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: auto;
  padding: 2px 2px;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.btn-finish{
  position: absolute  ;
  left:130px;
  top: -25px;
}

.enrollContainer{
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
}