.wrapper{
	width: 105%;
	margin-left: -15%;
	margin-bottom: 10%;
}
.sidebar{
	height: 100%;
}
.nav_list{
	height: 100%;
	padding-left: 15%;
	margin-left: -10%;
}
body{
	overflow: auto;
}
.profile_content{
	margin-top: 10%;
	padding-right: 11%;
	padding-bottom: 10%;
}
.profile{
	margin-bottom: 100px;
}
#calendar{
	height: 550px;
	width: 100%;
}
.card{
	margin-right: 15%;
}