body{
	overflow-y: auto;
}
.middle{
	width: 100%;
}
.form_Add{
	padding: 20px 20px 20px 20px;		
	border: 2px ridge #E2EEF0;
	height: 100%;
	width: 80%;
	border-radius: 10px;
	margin-left: -7%;
}
.form_Add h3{
	text-align: center;
	margin-bottom: 5%;
}

.add_question input{	
	margin-left: 3%;
	border-radius: 3px;
	width: 60%;
}
.btn-add{
	margin-left: 35%;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	border: 2px ridge #E2EEF0;
}
.show_quiz{
	overflow: auto;
	padding: 10px 10px 10px 10px;
	border: 2px ridge #E2EEF0;
	float: left;
	width: 63%;
	height: 600px;
	border-radius: 5px;
	margin-left: -3%;
}
.show_quiz h3{
	margin-left: 3%;
}
.main{
	float: left; 
	width: 100%;
}
.question{
	margin: 15px 10px 20px 50px;
}
.answer input{
	margin-left: 17%;
	margin-bottom: 3%;
}
.correctAnswer{
	margin-bottom: 3%;
}
.selectAnswer{
	margin-left: 5%;
}
.question input{
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 10px;
}
.left_site{
	float: left;
	width: 27%;
	display: flex;
	flex-direction: column;
	margin-left: 4%;
}
.create_quiz{
	margin-left: -7%;
	margin-top: 5%;
	padding: 10px 20px 20px 20px;		
	border: 2px ridge #E2EEF0;
	height: 100%;
	width: 80%;
	border-radius: 10px;
}
.create_quiz button{
	margin: 5%;
	margin-bottom: 0px;
	padding: 5px 5px 5px 5px;
	border: 2px ridge #E2EEF0;
	border-radius: 5px;
}
.btn-remove{
	color: white;
	margin-left: 65%;
	padding: 5px 5px 5px 5px;
	border: 2px ridge #E2EEF0;
	border-radius: 5px;
	background-color:  #EE2626;
}
#limited_time{
	border-radius: 3px;
	width: 60%;
}
button:hover{
	opacity: 0.7;
}
button{
	cursor: pointer;
}
.create_quiz h3{
	margin-bottom: 5%;
	text-align: center;
}
.create_quiz input{
	width: 60%;
	margin-bottom: 5%;

}
.create_quiz button{
	margin-left: 38%;
	margin-top: 0;
}
.lbSetDate{
	margin-right: 16%;
}
.lbSetQuizName{
	margin-right: 10%;
}