body{
	overflow-y: auto;
}
.show_quiz{
	margin-left: -1%;
	overflow: auto;
	padding: 10px 10px 10px 10px;
	border: 2px ridge #E2EEF0;
	float: left;
	width: 63%;
	height: 600px;
	border-radius: 5px;
}
.show_quiz h3{
	margin-left: 3%;
}
.middle{
	overflow-y: auto;
	width: 100%;
}
.main{
	float: left; 
	width: 95%;
}
.question{
	margin: 15px 10px 20px 50px;
}
.question input{
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 10px;
}
.left_site{
	float: left;
	width: 27%;
	display: flex;
	flex-direction: column;
	margin-left: 4%;
}
button:hover{
	opacity: 0.7;
}
button{
	cursor: pointer;
}
.form-navigation{
	padding: 20px 20px 20px 20px;		
	border: 2px ridge #E2EEF0;
	height: 100%;
	width: 80%;
	border-radius: 10px;
	margin-left: -5%	;
}
.btn-submit{
	margin-top: 5%;
	margin-left: 35%;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	border: 2px ridge #E2EEF0;
}
.form-navigation h3{
	text-align: center;
	margin-bottom: 2%;
}
.form-navigation{
	margin-bottom: 10%;
}
.txtNoOfQuestion{
	margin-left: 2%;
	width: 10%;
	font-size: 150%;
	margin-top: 3%;
	border: none;
	background-color: white;
	font-family: initial;
	color: black;
}
#correct_Answer + label {
	color: green;
}
#wrong_Answer:checked + label {
	color: red; 
}