.main{
	float: left;
	width: 93%;
}
button:hover{
	opacity: 0.7;
}
button{
	cursor: pointer;
}
.form-navigation{
	float: left;
	padding: 20px 20px 20px 20px;		
	border: 2px ridge #E2EEF0;
	height: 50%;
	width: 25%;
	border-radius: 10px;
	margin-left: 3%;
}
.btn-submit{
	margin-left: 35%;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	border: 2px ridge #E2EEF0;
}
.form-navigation h3{
	text-align: center;
	font-size: 150%;
	margin-bottom: 3%;
}
.form-navigation label{
	font-size: 120%;
	padding-bottom: 100%;
}
.result{
	float: left;
	width: 65%;
	border-radius: 5px;
	/*padding: 5px 5px 5px 5px;*/
	border: 2px ridge #E2EEF0;
	margin-left: 3%;
}
.result h1{
	margin-bottom: 3%;
	margin-left: 2%;
}
.tblResult{
	margin: 3% 0 3% 2%;
}
.tblResult h3{
	margin-bottom: 2%;
}
table{
	margin-left: 3%;
	width: 85%;
}
thead{
	width: 70%;
}
th{
	padding: 1% 1% 1% 2%;
	background-color: #04A04D;
	color: white;
}
td{
	padding: 1% 1% 1% 2%;
}
.grade{
	text-align: center;
	margin-bottom: 5%;
	color: #04A04D;
}
.back{
	text-align: center;
	width: 100%;
}
.btn-back{
	width: 23%;
	padding: 1% 2% 1% 2%;
	border-radius: 5px;
	border: 2px ridge #E2EEF0;
	margin-bottom: 3%;
	font-size: 100%;
}

.txtNoOfQuestion{
	width: 10%;
	font-size: 100%;
	margin-top: 3%;
}